// This is where we put global styles and change variable values


$table-cell-border: none;
$table-cell-heading-color: grey;
$table-head-cell-color: grey;
@import '../node_modules/bulma/bulma.sass';


@import './spaces.scss';
// Import Fonts (Lato and Nunito)
@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Nunito:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Odibee+Sans&display=swap');

$turquoise: #44ddd0;
$green: #27d7a1;
$light-green: #45f69e;
$dark-green: rgb(0, 100, 80);

$blue:#3273dc;
$blue-hover: #2965c5;
// $blue-light: color.scale($blue, $lightness: -30%);
$blue-light: lighten($blue, 25%);
$blue-lighter: lighten($blue, 40%);

$red: #f14668;
$red-hover: #fc6a88;

$light: #f8f8f8;
$blue-bg: #e9f2f9;

$family-sans-serif: "Roboto",
sans-serif;
$font-secondary: 'Odibee Sans';
$primary: $green;
$link: $turquoise;

// Update some of Bulma's component variables

$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$table-cell-border: 0px;

html {
  background: aliceblue;
}

html,
body,
#root,
#root>div {
  height: 100%;
}

table {
  border-radius: 7px;
}

.is-clickable {
  cursor: pointer;
}

.is-256x256 {
  height: 256px;
  width: 256px;
}

.table-head {

  & th {
    padding: 20px 10px;
    font-size: 10px;
  }
}


.centered-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 93%;
}

.modal-box {
  min-height: 175px;
  width: 100%;
  max-width: 580px;
  background: white;
  padding: 35px;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  color: #4a4a4a;
}

.title {
  font-family: 'Lato';
  font-size: 24px;
}

.title-secondary {
  font-family: $font-secondary;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-primary {
  border: none;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: bold;
  background: $blue;
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.btn-primary:hover {
  background: $blue-hover;
  transform: translateY(-4px);
}

.btn-danger {
  border: none;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 0.3em;
  font-size: 1em;
  font-weight: bold;
  background: $red;
  color: #ffffff;
  cursor: pointer;
  transition: 0.1s ease-in-out;
}

.btn-danger:hover {
  background: $red-hover;
  transform: translateY(-4px);
}

.bg {
  background: aliceblue;
}

.input-error-message {
  background-color: #f3baba1f;
  color: #523c3c;
  font-size: 12px;
  border-radius: 5px;
  padding: 5px 10px;
  margin-bottom: 20px;
}