.vector {
  margin: 0 auto 0 auto;
}

.shadowing {
  text-shadow: 2px 2px 2px #bed7ff;
}

.multiple-col {
  column-count: 2;
  column-gap: 40px;
  column-rule-color: rgba(0, 0, 0, 0.103);
  column-rule-style: solid;
  column-rule-width: 1px;
}
