.tinted-image {
    background: #242424;
    background:
        linear-gradient(rgba(0, 0, 0, 0.1),
            rgb(0, 0, 0)),
        url(../images/bg2.jpg);
    background-size: cover;
}

.task-manager-container {
    display: flex;
    width: 100%;
    height: 100%;
    max-width: 1000px;
    max-height: 680px;
}