@import '../../index.scss';

.task {
    background: white;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;

    &:not(.complete) {

        cursor: pointer;
        transition: box-shadow 0.2s ease, transform 0.2s ease;

        &:active {
            transform: scale(0.95);
        }

        &:hover {
            box-shadow: 0 0 0 5px #00000005;
        }
    }

    &.complete {
        text-decoration: line-through;
        opacity: 0.6;
    }
}

.time {
    color: rgb(214, 214, 214);
}